In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("HKV.csv", sep=";")
df["Datum"] = pd.to_datetime(df["Datum"], format="%d.%m.%Y")

In [3]:
df.set_index("Datum");

In [4]:
import matplotlib.pyplot as plt
%matplotlib inline

In [5]:
from influxdb import  InfluxDBClient

client = InfluxDBClient(host="192.168.178.43", port="8086", username="grafana", password="grafananana")

In [6]:
client.switch_database("openhab_db")

In [8]:
df.head()

       Datum  Ths  Kue  Bad  Schlaf  Kind  Wohn  Oben  Ess
0 2021-01-01  169  171   90      50    58   196     0  286
1 2021-09-01  346  568  168     125   159   494    46  556
2 2022-02-06  219  287   76      14    77   446    50  405
3 2022-03-01  243  334   86      15    94   528    53  469
4 2022-03-07  243  354   91      15    97   542    55  490

In [15]:
for col in df.columns[1:]:
    for row in df.index:
        
        measurement = f"HKV_{col}"
        time = df.loc[row,"Datum"]
        value = df.loc[row, col]       
        
        data = [
            {
                "measurement" : measurement,
                #"tags" : "HKV",
                "time" : time,
                "fields" : {"value" : value}
            }
        ]
        client.write_points(data)

In [18]:
client.write_points(data)

True

In [11]:
result = client.query("SELECT * FROM HKV_Schlaf")
print(result)

ResultSet({'('HKV_Schlaf', None)': [{'time': '2021-01-01T00:00:00Z', 'value': 50.0}, {'time': '2021-09-01T00:00:00Z', 'value': 125.0}, {'time': '2022-02-06T00:00:00Z', 'value': 14.0}, {'time': '2022-03-01T00:00:00Z', 'value': 15.0}, {'time': '2022-03-07T00:00:00Z', 'value': 15.0}, {'time': '2022-03-13T00:00:00Z', 'value': 19.0}, {'time': '2022-04-10T00:00:00Z', 'value': 20.0}, {'time': '2022-09-01T00:00:00Z', 'value': 20.0}, {'time': '2022-11-06T00:00:00Z', 'value': 0.0}, {'time': '2022-11-08T00:00:00Z', 'value': 0.0}, {'time': '2022-11-16T00:00:00Z', 'value': 0.0}, {'time': '2022-11-20T00:00:00Z', 'value': 0.0}, {'time': '2022-12-01T00:00:00Z', 'value': 1.0}, {'time': '2022-12-06T00:00:00Z', 'value': 2.0}, {'time': '2022-12-14T00:00:00Z', 'value': 4.0}, {'time': '2022-12-28T00:00:00Z', 'value': 7.0}, {'time': '2023-01-15T00:00:00Z', 'value': 7.0}, {'time': '2023-01-28T00:00:00Z', 'value': 7.0}, {'time': '2023-01-29T00:00:00Z', 'value': 7.0}, {'time': '2023-02-01T00:00:00Z', 'value': 7.0}, {'time': '2023-02-10T00:00:00Z', 'value': 7.0}, {'time': '2023-02-26T00:00:00Z', 'value': 7.0}]})